!!! 5
%html
  %body
    %h1 hello world
    #container
      %ul.products
        - for ($i = 0; $i < 10; $i++)
          %li= $i * 7
    #container
      %ul.products
        - for ($i = 0; $i < 10; $i++)
          %li= $i * 7
